* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* line-height: 3em !important; */
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.cronometro-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.cronometro {
  display: flex;
  flex-direction: column;
  user-select: none;
  /* border: 1px solid; */
  box-sizing: border-box;
  padding: 15px;
}

.tempo {
  font-size: 8rem;
  display: flex;
  justify-content: center;
  margin: 10px;
  border-bottom: 1px solid #00000015;
}

.botoes {
  display: flex;
  justify-content: center;
}

.botao {
  font-size: 2rem;
  margin: 10px;
  padding: 10px;
  background-color: #c4c4c442;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  cursor: pointer;
  min-width: 100px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  opacity: 25%;
  cursor: not-allowed;
}

.botao:hover {
  background-color: #75757563;
  border: 1px solid #75757563;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 1.3rem;
  color: #000;
}
footer a {
  text-decoration: none;
  color: #0051ff;
  position: relative;
}

footer a::after {
  content: "";
  position: absolute;
  width: 0%;
  left: 0;
  bottom: -4px;
  background: #0051ff;
  height: 2px;
  transition: width 0.5s ease;
}
footer a:hover::after {
  width: 100%;
}

.tempo .nums {
  width: 2ch;
}

.resetBtn {
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 4px;
}

.images {
  width: 30px;
  height: 30px;
}
