* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
}

.cronometro-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.cronometro {
  display: flex;
  flex-direction: column;
}

.tempo {
  font-size: 8rem;
  width: 200px;
}
.botao {
  font-size: 2rem;
  margin: 10px;
  padding: 10px;
  background-color: #c4c4c442;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  cursor: pointer;
}

.botao:hover {
  background-color: #75757563;
}
