* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.cronometro-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.cronometro {
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 1px solid;
  padding: 15px;
}

.tempo {
  font-size: 8rem;
  display: flex;
  justify-content: center;
  margin: 10px;
  border-bottom: 1px solid #00000015;
}

.botoes {
  display: flex;
  justify-content: center;
}

.botao {
  font-size: 2rem;
  margin: 10px;
  padding: 10px;
  background-color: #c4c4c442;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  cursor: pointer;
}

.botao:hover {
  background-color: #75757563;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 1.3rem;
  color: #000;
}
footer a {
  text-decoration: none;
  color: #0051ff;
  position: relative;
}
footer p {
}
footer a::after {
  content: "";
  position: absolute;
  width: 0%;
  left: 0;
  bottom: -4px;
  background: #0051ff;
  height: 2px;
  transition: width 0.5s ease;
}
footer a:hover::after {
  width: 100%;
}
